body{
	margin: 0px;
	background-image: url(IMAGENS/fundo.webp);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100% 100%;
	background-attachment: fixed;
}

.titulo{
	width: 50%;
}

.square {
display: inline-block;
 z-index: 1;
padding: 0px;
border: 3px solid;
border-color: red;
border-radius: 0px;
height: 100%;
width: 85%;
background: rgba(178, 150, 26, 0.35);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(7.7px);
-webkit-backdrop-filter: blur(7.7px);
border: 1px solid rgba(178, 150, 26, 1);
}

.square2{
display: block;
 z-index: 1;
padding: 25px;
border: 0px solid;
border-color: red;
border-radius: 0px;
height: 100%;
width: 85%;
margin: 0px;
background: rgba(16, 151, 151, 0.35);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(7.7px);
-webkit-backdrop-filter: blur(7.7px);
border: 1px solid rgba(16, 151, 151, 1);
}

h2{
	color: #0C5759;
	text-shadow: 1px 2px #d3992f;
	transition: transform .2s;

}
h2:hover{
	transform: scale(1.2);
}
h1{
	color: 
#d3992f;
text-shadow: 1px 2px #108F91;
}

td{
	padding: 5px;
	padding-top: 10px;
}
p{
	color: white;
	font-family: OCR A Std, monospace;
}

html {
  scroll-behavior: smooth;
}

:target {
  scroll-margin-top: .8em;

a{
	text-decoration: none;
	border: none;
}

imagem > img{
	width: 30%;
}

.custom{
	width: 20%;
}
small{
	color: white;
}